* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #003049;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  border: solid 1px white;
  width: 92vw;;
  padding: 1em;
  height: 5vh;
  display: flex;
  justify-content: space-between;
}

nav p {
  align-self: center;
  margin-left: 1em;
}

nav img {
  align-self: center;
  margin-left: 1em;
  height: 2em;
}

nav form {
  align-self: center;
}

.profile-image-frame {
  height: 5vh;
  width: 5vh;
  border: solid 1px #ffffff;
  display: flex;
  border-radius: 50%;
  align-self: center;
  margin-right: 1em;
  overflow: hidden;
  justify-content: center;
}

.profile-image {
  height: 5vh;
  width: 5vh;
  margin: 0px;
}

.articles-list {
  padding: 1em
}

.article-card {
  border: solid 1px #ffffff;
  border-radius: 10px;
  padding: 1em;
  text-align: left;
  margin-bottom: 1em;
}

.article-card-details-block {
  display: flex;
  height: 5vh;
  margin-bottom: 1em;
}

.article-card-details-block p {
  align-self: center;
}

.article-card h3 {
  margin-bottom: 1em;
}

.article-card img {
  width: 100%;
  margin-bottom: 1em;
}

.vote-module {
  display: flex;
  justify-content: left;
  margin-left: 1em;
}

.vote-module img {
  height: 1.5em;
  width: 1.5em;
  margin-right: 1em;
}

.comments-button {
  border: solid 1px #ffffff;
  border-radius: 10px;
  display: flex;
  height: 1.5em;
  padding: 0.5em;
  margin-left: auto;
}

a {
  color:inherit;
  text-decoration: none;
}

.article-detail {
  padding: 1em;
  text-align: left;
}

.article-detail h2 {
  margin-bottom: 1em;
}

.article-detail-img {
  width: 100%;
  margin-bottom: 1em;
}

.comments {
  padding: 1em;
}

.comment {
  margin-bottom: 2em;
  text-align: left;
  border-top: 1px solid #ffffff50;
  padding-top: 1em;
}

.comment-body {
  margin-left: 1em;
  margin-bottom: 1em;
}

.sub-menu {
  display: flex;
  justify-content: left;
  margin-bottom: 1em;
  padding: 1em
}

.back-button {
  height: 1.5em;
  align-self: left;
}